body{
  margin: 0;
  padding:0;
  background-color: #CC704B;
}

.entire-content-noland{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh 10vh 80vh ;
  justify-items: flex-start;
  align-items:flex-start;
  padding-left: 5vw;
  padding-right: 5vw;
}
.home-link{
  font-family: p22-arts-and-crafts, sans-serif;
  font-size: 3vw;
  line-height:3.5vh;
  letter-spacing: 0.1em;
  font-style: normal;
  color: #9FC088;
  text-align: right;
  justify-self: flex-end;
  align-self: flex-end;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-bottom:2vh;
  cursor: pointer;
}
.content-container{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  background-color: #E8C07D;background: rgb(205,152,63);
  background: linear-gradient(90deg, rgba(205,152,63,0.4502487562189055) 5%, rgba(205,152,63,1) 22%, rgba(205,152,63,1) 77%, rgba(252,176,69,0.10447761194029848) 100%);
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  overflow: overlay;
  align-self:flex-start;
}
.entire-content{
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: center;
}
.homelist{
  list-style: none;
}
.clickable{
  text-decoration: none;
  font-size: 3vw;
}
.nav-bar, .footer{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.main-head{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.sch_tbl{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 20vh;
}
.day-name, .time-sch{
  font-size: 2vw;
  margin: 0;
}
.day-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.hours{
  width: 100vw;
}
.contact-section{
  text-align: center;

}
@media screen
  and (min-device-width: 800px){
    ::-webkit-scrollbar {
    width: 12px;
    display: none;
  }
  }
