body{
  margin: 0;
  padding:0;
  background-color: #CC704B;
}

.event_flyer{
  display: block;
  width: 100vw;
  height: 100vh;
  margin-top: 5vh;
}

.entire-content{
  display: grid;
  grid-auto-columns: 100vw;
  grid-auto-rows: 20vh 10vh 60vh 10vh;
  justify-items: center;
}
.cat-banner{
  display: block;
  width: 60vw;
  height: 20vh;
}
.home{
  font-family: p22-arts-and-crafts, sans-serif;
  font-size: 5vw;
  line-height: 10vh;
  letter-spacing: 0.1em;
  font-style: normal;
  color: #9FC088;
  text-align: center;
}

.footer{
  text-align: center;
  font-family: p22-arts-and-crafts, sans-serif;
  font-size: 2vw;
  line-height: 10vh;
  letter-spacing: 0.1em;
  font-style: normal;
  color: #9FC088;
}
.navigationList{
  margin: 0;
  padding:0;
  height: 60vh;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column nowrap;
  flex-basis: 100vh;
}
.clickable{
  display: block;
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: 4vh;
  width: 60vw;
  background-color: #E8C07D;
  text-align: center;
  color: #614124;
  font-size: 4vw;
}
@media screen
  and (min-device-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .home{
      font-family: p22-arts-and-crafts, sans-serif;
      font-size: 4vw;
      line-height: 5vh;
      letter-spacing: 0.1em;
      font-style: normal;
      color: #9FC088;
      text-align: center;
    }

    body{
      padding-top: 20vh;
    }
    .entire-content{
      grid-template-columns: 60vw 40vw;
      grid-template-rows: 30vh 25vh;

    }
    .nav-bar{
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: -1
    }
    .cat-banner{
      display: block;
      width: 40vw;
      height: 20vh;
    }
    .clickable{
      display: block;
      padding-top: 2.5vh;
      padding-bottom:2.5vh;
      height: 5vh;
      width: 20vw;
      background-color: #E8C07D;
      text-align: center;
      color: #614124;
      font-size: 2.5vw;
    }
    .footer{
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: -1;
      grid-row-end: 4;
      font-size: 1vw;
    }
}


/* Vision Page set up*/

.entire-content-noland{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh 10vh 80vh ;
  justify-items: center;
  align-items: center;
  padding: 0 auto;
}

.burger{
  grid-column-start:1;
  grid-column-end: 2;
  justify-self: flex-start;
  align-self: flex-end;
  margin-left: 10vw;
}
.sand-div{
  width: 25px;
  height: 2.5px;
  background-color: #9FC088;
  margin: 5px 0;
}


.image{
  display: block;
  height: 25vh;
  width: 30vw;
}
.section-title{
  font-family: p22-arts-and-crafts, sans-serif;
  font-size: 5vw;
  line-height: 5vh;
  letter-spacing: 0.1em;
  font-style: normal;
  color: #614124;
  text-align: center;
  align-self: flex-end;
}

.content-container{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  background-color: #E8C07D;
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  overflow: overlay;
  align-self:flex-start;
}
::-webkit-scrollbar {
  width: 12px;
  display: none;
}
.paragraph{
  display: block;
  background-color: #E8C07D;
  color: #614124;
  text-align:left;
  font-size: 3vw;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vw;
}
@media screen
  and (min-device-width: 800px){
    .burger{
      margin-bottom:5vh;
    }
    .home-link{
      margin-bottom: 5vh;
      font-size: 1vw;
    }
    .image{
      display: block;
      height: 40vh;
      width: 30vw;
    }
    .content-container{
      grid-column-start: 1;
      grid-column-end:3;
      grid-row-start: 2;
      background-color: #E8C07D;
      width: 80vw;
      height: 90vh;
    }
    .section-title{
      font-size: 4vh;
      text-align: center;
      align-self: center;
    }
    .paragraph{
      display: block;
      background-color: #E8C07D;
      color: #614124;
      text-align:left;
      font-size: 2vw;
      padding-left: 10vw;
      padding-right: 10vw;
      padding-bottom: 10vw;
    }
    .content-container{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      background-color: #E8C07D;
      width: 80vw;
      height: 90vh;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: flex-start;
      overflow: overlay;
      align-self:flex-start;
    }
    ::-webkit-scrollbar {
    width: 12px;
    display: none;
  }
}



/*burger menu display*/

.show_menu{
  width: 60vw;
  height: 50vh;
  background-color:#9FC088;
  padding-left: 3vw;
  padding-right: 3vw;
  display: flex;
  flex-flow:column nowrap;
  justify-content: space-around;
  grid-column-start:1;
  grid-row-start: 2;
  visibility: hidden;
  align-self: flex-start;
}
.toggle_menu{
  visibility: visible;
}
.sand_option_div{
  background-color: #E8C07D;
  text-align: center;
  flex-basis: 12vw;
}
.menu_options_text{
  color: #614124;
  font-size: 5vw;
}
@media screen
    and (min-device-width: 800px){
      .show_menu{
        top: 30vh;
        width: 40vw;
        justify-content: space-around;
      }
      .sand_option_div{
        background-color: #E8C07D;
        text-align: center;
      }
      .menu_options_text{
        color: #614124;
        font-size: 2vw;
      }
}

.cat_photo{
  display: block;
  width:40vw;
  height: 30vh;
}
.card-cats-container{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 80vh;
  align-self:flex-start;

}
.filter_icon{
  width: 20vw;
  height: 10vh;
  background-color: blue;
}
.header-section{
  display: flex;
  flex-flow: row nowrap;
}
.friend-title{
  font-family: p22-arts-and-crafts, sans-serif;
  font-size: 3vw;
  line-height: 3vh;
  letter-spacing: 0.1em;
  font-style: normal;
  color: #614124;
  text-align:right;
  justify-content:flex-end;
  align-self: flex-end;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start:2;
  grid-row-end: 3;

}
.card{
  border-style: solid;
  padding: 10vw;
  border-color: #9FC088;
}
.home-link{
  font-family: p22-arts-and-crafts, sans-serif;
  font-size: 1.5vw;
  line-height: 1.5vh;
  letter-spacing: 0.1em;
  font-style: normal;
  color: #9FC088;
  text-align: center;
  justify-self: flex-end;
  align-self: flex-end;
  grid-column-start: 2;
  grid-column-end: 4;
  margin-bottom:0;
  margin-right: 10vw;

}
.cat_info{
  font-family: sans-serif;
  font-size: 2vw;
  line-height: 2vh;
  letter-spacing: 0.1em;
  font-style: normal;
  color: #614124;

}

.learn_more_button{
  border-style:outset;
  border-color: #9FC088;
  padding: 3vw;
  text-align: center;
  color:#614124;
  font-size: 3vw;
}
.cat_name{
  font-family: p22-arts-and-crafts, sans-serif;
  font-size: 3vw;
  line-height: 3vh;
  letter-spacing: 0.1em;
  font-style: normal;
  color: #614124;
}
.filter_bar{
  visibility: hidden;
}

.entire-content-noland{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh 10vh 80vh ;
  justify-items: center;
  align-items: center;
  padding: 0 auto;
}
@media screen
  and (min-device-width: 800px){
    .card-cats-container{
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      height: 80vh;
      margin-right:10vw;
    }
    .cat_photo{
      display: block;
      width: 15vw;
      height: 20vh;
    }
    .card{
      border-style: solid;
      padding: 3vw;
      border-color: #9FC088;
    }
    .filter_bar{
      visibility: visible;
      border-style: solid;
      width: 25vw;
      height: 100vh;
      overflow:auto;
      border-color: #9FC088;
      padding:2vw;
      display: flex;
      flex-flow: column nowrap;
      align-self: flex-start;
    }
    }
    .filter-title{
      font-family: sans-serif;
      font-size: 3vw;
      line-height: 3vh;
      letter-spacing: 0.1em;
      font-style: normal;
      color: #614124;
    }
    .burger{
      grid-column-start:1;
      grid-column-end: 2;
      justify-self: flex-start;
      align-self: flex-end;
      margin-left: 3vw;
      margin-bottom: 0;
    }
    .sand-div{
      width: 10vw;
      height: 0.5vh;
      background-color: #9FC088;
      margin: 1vh 0;
    }
    .filter-section{
      height: 15vh;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }
    .filter_section_title{
      font-family: sans-serif;
      font-size: 1.5vw;
      line-height: 1.5vh;
      letter-spacing: 0.1em;
      font-style: normal;
      color: #614124;
    }
    .options-section{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      height: 1.5vh;
    }
    .lab{
      font-size: 1vh;
      margin: 0;
      color:#614124;
      font-family: urbane-rounded,sans-serif;
      font-weight: 300;
    }
    input{
      justify-self: end;
      margin: 0;
      padding: 0;
      height: 1.5vh;
      width: 1.5vw;
    }
    .cat_info{
      font-family: sans-serif;
      font-size: 1vw;
      font-style: normal;
      color: #614124;
    }

    .learn_more_button{
      border-style:outset;
      border-color: #9FC088;
      padding: 1.5vw;
      text-align: center;
      color:#614124;
      font-size: 1vw;
    }
    .entire-content-noland{
      width: 100vw;
      display: grid;
      grid-template-columns: 30vw 50vw;
      grid-template-rows: 10vh 10vh 60vh ;
      justify-items: center;
      align-items: center;
      padding: 0 auto;
    }
}
